<ion-view view-title="Publier un annonce">
	<ion-nav-buttons side="primary" >
		<div ng-controller="AccountCtrl">
     		<a class="button button-clear ion-gear-a" ng-click="openModal()"></a>
 		</div>
    </ion-nav-buttons>
  <ion-content>
    <div class="list">          
      <label class="item item-input item-floating-label">
        <span class="input-label">De</span>
        <input type="text" ng-model="inputDepart" name="depart" placeholder="De">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">À</span>
        <input type="text" ng-model="inputArrive" name="arrive" placeholder="À">
      </label>
    </div>
    <ion-list>
      <ion-toggle toggle-class="toggle-positive" ng-model="settings.enableAutoroute">
          Autoroute
      </ion-toggle>
      <ion-toggle toggle-class="toggle-positive" ng-model="settings.enableAllezRetour">
          Allez-retour
      </ion-toggle>
    </ion-list>

    <ionic-datepicker idate="currentDate" disablepreviousdates="true"  callback="datePickerCallback">
      <button class="button button-block button-positive"> départ le : {{ currentDate | date:'dd - MMMM - yyyy' }}</button>
    </ionic-datepicker>

    <ionic-datepicker idate="currentDate" disablepreviousdates="true"  callback="datePickerCallback">
      <button class="button button-block button-positive"> arrivé le : {{ currentDate | date:'dd - MMMM - yyyy' }}</button>
    </ionic-datepicker>

  </ion-content>
</ion-view>